.App {
  text-align: center;
  width: 60%;
  height: 100vh;
  margin: auto;
  border-left: 50px solid lightblue;
  border-right: 50px solid lightblue;
}

.App-nav{
  padding: 3% 25%;
  margin-bottom: 4%;
  display: flex;
  justify-content: space-around;
  background-color: lightblue;
}

.links{
  text-decoration: none;
  color: black;
}

.active{
  font-weight: 600;
}

@media screen and (max-width: 800px){
	.App{
    width: 100vw;
    border-left: 20px solid lightblue;
    border-right: 20px solid lightblue;
    border-bottom: 20px solid lightblue;;
  }
}